/*
 * =====================================
 * GENERAL STYLES
 * =====================================
 */

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Exo 2', sans-serif;
	background-color: #f2f2f2;
	color: #4a4a4a;
}


/*
 * =====================================
 * COMPONENTS STYLES
 * =====================================
 */
.container{
	max-width: 1200px;
	margin:0 auto;
}
.page__title{
	font-size: 1.5rem;
	text-align: center;
	padding: 20px;
}



/*
 * =====================================
 * HEADER STYLES
 * =====================================
 */

header .container{
	min-height: 200px;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

/*Header Navigaton Styles*/
.navigation__list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #353434;
}
.navigation__list li{
	list-style-type: none;
}

.navigation__list li a{
	display: flex;
	padding: 10px 20px;
	justify-content: center;
	align-items: center;
	transition: .2s;
	text-decoration: none;
	color: white;
}
.navigation__list li a:hover{
	background-color: green;
}

/*
 * =====================================
 * FOOTER STYLES
 * =====================================
 */

footer{
	background-color: #353434;
}


/*
 * =====================================
 * MAIN PAGE POST-CARD STYLES
 * =====================================
 */
.post-card__container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.post-card{
	width: 20%;
	padding: 10px;
	background-color: white;
}